.upsert-feed {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    label, p {
        align-self: flex-start;
        margin: 0 16px;
        text-align: left;
    }

    textarea, input {
        margin: 16px;
        padding: 8px;
    }

    .custom-button {
        width: 200px;
        display: inline-block;
        align-self: flex-end;
        margin-right: 16px;
    }

    .note {
        color: white;
    }
}
