.card-container {
  display: flex;
  flex-direction: column;
  background-color: #e6ede6;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 15px;
  margin: 10px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
  max-height: 500px;
  text-decoration: none;
  color: black;

  &:hover {
    transform: scale(1.05);
  }

  h2 {
    font-size: 1.2em;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }

  > p {
    overflow: hidden;
    max-width: 100%;
    text-align: left;
    font-size: 0.9em;
    text-overflow: ellipsis;

    img {
      width: 100%;
      height: auto;
    }

    a {
      color: black;
      font-weight: bold;
    }
  }

  .feed-name {
    font-size: 0.6em;
  }

  .card-meta {
    display: flex;
    justify-content: space-between;
    font-size: 0.6em;
  }
}
